.container
  .row
    .col.col-9
      %h1 Editar tipo de instituto
    .col.col-3
      = link_to 'Mostrar', tipo_instituto_path(@tipo_instituto), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', tipo_institutos_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', tipo_instituto: @tipo_instituto
