.container
  .row
    .col
      %h1 Nuevo Tipo Instituto
  .row
    .col
      = link_to 'Volver', tipo_institutos_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', tipo_instituto: @tipo_instituto
