.container-fluid
  .row
    .col.col-8
      %h1 Proyectos
    .col.col-4
      = link_to 'Nuevo Proyecto Programa', new_proyecto_path, class:"btn btn-primary pull-right"

  = render 'proyectos/list', collection: @proyectos
