.container
  .row
    .col
      %h1 Nuevo Proyecto
  .row
    .col
      = link_to 'Volver', proyectos_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', proyecto: @proyecto
