.container
  .row
    .col
      %h1 Editar Municipio

  .row
    .col
      = link_to 'Mostrar', municipio_path(@municipio), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', municipios_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', municipio: @municipio
