.container-fluid
  .row
    .col.col-8
      %h1 Municipios
    .col.col-4
      = link_to 'Nuevo municipio', new_municipio_path, class:"btn btn-primary pull-right"

  = render 'municipios/list', collection: @municipios
