.container-fluid
  .row
    .col.col-8
      %h1 Vertientes
    .col.col-4
      = link_to 'Nueva vertiente', new_vertiente_path, class:"btn btn-primary pull-right"

  = render 'vertientes/list', collection: @vertientes
