.container
  .row
    .col.col-9
      %h1 Editar Estado
    .col.col-3
      = link_to 'Mostrar', status_path(@status), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', statuses_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', status: @status
