.container-fluid
  .row
    .col.col-8
      %h1 Estados
    .col.col-4
      = link_to 'Nuevo estado', new_status_path, class:"btn btn-primary pull-right"

  = render 'statuses/list', collection: @statuses
