.container
  .row
    .col
      %h1 Nuevo estado
  .row
    .col
      = link_to 'Volver', statuses_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', status: @status
