.container-fluid
  .row
    .col.col-8
      %h1 Departamentos
    .col.col-4
      = link_to 'Nuevo Departamento', new_departamento_path, class:"btn btn-primary pull-right"

  = render 'departamentos/list', collection: @departamentos
