.container
  .row
    .col
      %h1 Nuevo Departamento
  .row
    .col
      = link_to 'Volver', departamentos_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', departamento: @departamento
