.container
  .row
    .col
      %h1 Editar Investigacion

  .row
    .col
      = link_to 'Mostrar', investigacion_path(@investigacion), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', investigaciones_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', investigacion: @investigacion
