.container-fluid
  .row
    .col.col-8
      %h1 Investigaciones
    .col.col-4
      = link_to 'Nuevo investigaci&oacute;n', new_investigacion_path, class:"btn btn-primary pull-right"

  = render 'investigaciones/list', collection: @investigaciones
