@import '../../../elements.scss';
@import '../../../variables.scss';

.search-page {
  .result-detail {
    h1 { font-size: 26px; }
    h2 { display: block; margin-top: $padding*2; font-size: 22px; }
    .text { padding-bottom: $padding; color: $textWeakColor; }
  }
}
