- content_for(:page_class){'home-page'}

.container
  .row
    .col.col-12
      .icon
        %i.fa.fa-user-o
      %h1 Bienvenido #{current_user.email}
      .text Puedes ingresar datos usando las opciones del menu superior.
