.container-fluid
  .row
    .col.col-8
      %h1 Instituciones
    .col.col-4
      = link_to 'Nueva Institucion', new_institucion_path, class:"btn btn-primary pull-right"

  = render 'instituciones/list', collection: @instituciones
