.container
  .row
    .col
      %h1 Nuevo Proyecto Area
  .row
    .col
      = link_to 'Volver', proyecto_areas_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', proyecto_area: @proyecto_area
