- status ||= nil
- if status.nil?
  .text-secondary
    ???
- elsif status.visible?
  .text-success
    = status.nombre
- elsif status.deleted?
  .text-danger.font-italic
    = status.nombre
- else
  .text-secondary
    = status.nombre
