.container
  .row
    .col
      %h1 Editar Area Investigacion

  .row
    .col
      = link_to 'Mostrar', area_investigacion_path(@area_investigacion), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', area_investigaciones_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', area_investigacion: @area_investigacion
