.container
  .row
    .col
      %h1 Nueva Area Investigacion
  .row
    .col
      = link_to 'Volver', area_investigaciones_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', area_investigacion: @area_investigacion
