.container
  .row
    .col
      %h1 Nueva &aacute;rea de estudio
  .row
    .col
      = link_to 'Volver', areas_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', area: @area
