<h1>Editing Facultades Instituto</h1>

<%= render 'form', facultades_instituto: @facultades_instituto %>

<%= link_to 'Show', @facultades_instituto %> |
<%= link_to 'Back', facultades_institutos_path %>
