.container
  .row
    .col
      %h1 Nueva cuenca
  .row
    .col
      = link_to 'Volver', cuencas_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', cuenca: @cuenca
