.container
  .row
    .col.col-9
      %h1 Editar Vertiente
    .col.col-3
      = link_to 'Mostrar', vertiente_path(@vertiente), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', vertientes_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', vertiente: @vertiente
