.container
  .row
    .col
      %h1 Nueva Vertiente
  .row
    .col
      = link_to 'Volver', vertientes_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', vertiente: @vertiente
