.container-fluid
  .row
    .col.col-8
      %h1 Subcuencas
    .col.col-4
      = link_to 'Nuevo Subcuenca', new_subcuenca_path, class:"btn btn-primary pull-right"

  = render 'subcuencas/list', collection: @subcuencas
