.container
  .row
    .col.col-9
      %h1 Editar Area
    .col.col-3
      = link_to 'Mostrar', area_path(@area), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', areas_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', area: @area
