.container
  .row
    .col.col-9
      %h1 Editar Facultad / Instituto
    .col.col-3
      = link_to 'Mostrar', facultad_path(@facultad), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', facultades_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', facultad: @facultad
