.container-fluid
  .row
    .col.col-8
      %h1 Facultades Institutos
    .col.col-4
      = link_to 'Nuevo Facultades Instituto', new_facultad_path, class:"btn btn-primary pull-right"

  = render 'facultades/list', collection: @facultades, hide_pagination: true
