.container
  .row
    .col.col-9
      %h1 Editar departamento
    .col.col-3
      = link_to 'Mostrar', departamento_path(@departamento), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', departamentos_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', departamento: @departamento
