.fixed-alert { width: 100%; position: absolute; top: 0; left: 0; z-index: 9999;
  .alert {
    .close-button { float: right; color: inherit;
      &:hover { text-decoration: none; }
    }
  }
}

.section-header {
  .navbar {
    &.navbar-theme { border-bottom: 1px solid #dcdcdc; }
  }
}

.section-content { padding: 20px 0; }

.section-footer {

}
