.container
  .row
    .col
      %h1 Nueva investigaci&oacute;n
  .row
    .col
      = link_to 'Volver', investigaciones_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', investigacion: @investigacion
