.container
  .row
    .col.col-9
      %h1 Editar proyecto o programa
    .col.col-3
      = link_to 'Mostrar', proyecto_path(@proyecto), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', proyectos_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', proyecto: @proyecto
