.container
  .row
    .col
      %h1 Editar Microcuenca

  .row
    .col
      = link_to 'Mostrar', microcuenca_path(@microcuenca), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', microcuencas_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', microcuenca: @microcuenca
