.container-fluid
  .row
    .col.col-8
      %h1 Microcuencas
    .col.col-4
      = link_to 'Nuevo Microcuenca', new_microcuenca_path, class:"btn btn-primary pull-right"

  = render 'microcuencas/list', collection: @microcuencas
