.container
  .row
    .col
      %h1 Nueva Microcuenca
  .row
    .col
      = link_to 'Volver', microcuencas_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', microcuenca: @microcuenca
