.container
  .row
    .col.col-9
      %h1 Editar Cuenca
    .col.col-3
      = link_to 'Mostrar', cuenca_path(@cuenca), class: 'btn btn-outline-info pull-right'
      = link_to 'Volver', cuencas_path, class: 'btn btn-outline-link pull-right'
  .row
    .col
      = render 'form', cuenca: @cuenca
