.container-fluid
  .row
    .col.col-8
      %h1 Cuencas
    .col.col-4
      = link_to 'Nueva Cuenca', new_cuenca_path, class:"btn btn-primary pull-right"

  = render 'cuencas/list', collection: @cuencas
