.container
  .row
    .col
      %h1 Nueva facultad o instituto
  .row
    .col
      = link_to 'Volver', facultades_path, class: 'btn btn-ouline-link pull-right'
  .row
    .col
      = render 'form', facultad: @facultad
